*{
    padding: 0;
    margin: 0;
}

.part{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section1{
    background-color: black;
}
.section2{
    background-color: red;
}
.section3{
    background-color: purple;
}
.section4{
    background-color: green;
}

h2{
    opacity: 0;
    transition: all 1s;
    transform: translateY(100%);
    color: white;
}

.Showing h2{
    opacity: 1;
    transform: translate(0);
}