@import './styles/utils.scss';



.SassComponent {
    display: flex;
    .box{
        background: red;
        cursor: pointer;
        transition: all 0.5s;
        &.red{
            @include square(1);
            background:red;
        }
        &.orange{
            @include square(2);
            background:orange;
        }
        &.blue{
            @include square(3);
            background:blue;
        }
        &.indigo{
            @include square(4);
            background:indigo;
        }
        &.yellow{
            @include square(5);
            background:yellow;
        }
    }
}